<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

<html xmlns:th="http://www.thymeleaf.org">
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SitRepo</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/jquery.fancybox.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.transitions.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/line-icon.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body xmlns:th="http://www.w3.org/1999/xhtml">
<!-- header section -->
<section class="banner" role="banner">
	<header id="header">
		<div class="header-content clearfix"> <a class="logo" href="#"><img style="margin-top: 12px;" src="images/logo.png" alt=""></a>
			<!-- navigation section  -->
			<nav class="navigation" role="navigation">
				<ul class="primary-nav">
					<li><a href="#banner">NASLOVNA</a></li>
					<li><a href="#overview">PREGLED</a></li>
					<li><a href="#features">KARAKTERISTIKE</a></li>
					<li><a href="#screens">SLIKE EKRANA</a></li>
					<li><a href="#download">PREUZIMANJE</a></li>
					<li><a href="#contact">KONTAKT</a></li>
					<li><a th:href="@{/login}">PRIJAVITE SE</a></li>

					<li class="dropdown">
						<a href="#" style="color: #fff !important; background-color: #3aa188 !important;" class="btn btn-info dropdown-toggle share" data-toggle="dropdown" role="button" aria-expanded="false">JEZIK<span class="caret"></span></a>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a th:href="@{/?lang=us}"><img style="width: 30px; margin-right: 5px" th:src="@{/images/en.png}"></img>ENGLESKI</a></li>
							<li><a th:href="@{/?lang=sr}"><img style="width: 30px; margin-right: 5px" th:src="@{/images/rs.png}"></img>SRPSKI</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<a href="#" class="nav-toggle">Menu<span></span></a> </div>
		<!-- navigation section  -->
	</header>
	<!-- banner text section-->
	<div id="banner" class="container">
		<div class="col-md-5 col-sm-12"> <img class="banner-img img-responsive" src="images/iphone1copy.png"> </div>
		<div class="col-md-7 col-sm-12">
			<div class="banner-text">
				<h2 style="font-size:68px; color: #3aa188;">SitRepo</h2>
				<p style="font-size:18px;">
					SitRepo je besplatna aplikacija koja
					sadrži instrukcije kako da se ponašate u slučaju saobraćajne nezgode, omogućava vam da pozovete pomoć i da lako i brzo sakupite sve potrebne podatke i sačinite izveštaj o nezgodi. </p>

				<div class="banner-btn"><a href="#"><img src="images/apple-store-btn.png"></a> <a href="#"><img src="images/google-store-btn.png"></a> </div>
			</div>
			<!-- banner text section-->
		</div>
	</div>
</section>
<!-- header section -->
<!-- overview section -->
<section id="overview" class="section overview">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2 class="section-title">Present Your App To The World With <span>Rooky</span></h2>
				<p class="section-intro">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis quasi architecto beatae vitae dicta sunt explicabo. </p>
			</div>
			<div class="col-md-12 text-center overview-video">
				<iframe
						src="http://www.youtube.com/embed/k32xyP3KuWE?autoplay=0" frameborder="0" allowfullscreen > </iframe>
			</div>
		</div>

		<div class="text-center">
			<h2 class="section-title">Najčešće postavljena  <span>pitanja!</span></h2>
			<br/>
		</div>

		<div class="tab-content faq-cat-content">
			<div class="tab-pane active in fade" id="faq-cat-1">
				<div class="panel-group" id="accordion-cat-1">
					<div class="panel panel-default panel-faq">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
								<h4 class="panel-title">
									Kako preuzeti aplikaciju?
									<span class="pull-right"><i style="color: #3aa188 !important;" class="glyphicon glyphicon-plus"></i></span>
								</h4>
							</a>
						</div>
						<div id="faq-cat-1-sub-1" class="panel-collapse collapse">
							<div class="panel-body">
								Text 1
							</div>
						</div>
					</div>
					<div class="panel panel-default panel-faq">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
								<h4 class="panel-title">
									Da li se aplikacija plaća?
									<span class="pull-right"><i style="color: #3aa188 !important;" class="glyphicon glyphicon-plus"></i></span>
								</h4>
							</a>
						</div>
						<div id="faq-cat-1-sub-2" class="panel-collapse collapse">
							<div class="panel-body">
								Text 2
							</div>
						</div>
					</div>

					<div class="panel panel-default panel-faq">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-3">
								<h4 class="panel-title">
									Kako aplikacija funkcioniše?
									<span class="pull-right"><i style="color: #3aa188 !important;" class="glyphicon glyphicon-plus"></i></span>
								</h4>
							</a>
						</div>
						<div id="faq-cat-1-sub-3" class="panel-collapse collapse">
							<div class="panel-body">
								Text 3
							</div>
						</div>
					</div>


				</div>
			</div>
			<div class="tab-pane fade" id="faq-cat-2">
				<div class="panel-group" id="accordion-cat-2">
					<div class="panel panel-default panel-faq">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
								<h4 class="panel-title">
									FAQ Item Category #2
									<span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
								</h4>
							</a>
						</div>
						<div id="faq-cat-2-sub-1" class="panel-collapse collapse">
							<div class="panel-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
					<div class="panel panel-default panel-faq">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
								<h4 class="panel-title">
									FAQ Item Category #2
									<span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
								</h4>
							</a>
						</div>
						<div id="faq-cat-2-sub-2" class="panel-collapse collapse">
							<div class="panel-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- overview section -->
<!-- feature section 1 -->
<section id="features" class="section features1">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2 class="section-title">We Offers A Wide Range Of <span>Features</span></h2>
				<p class="section-intro">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. </p>
			</div>
		</div>
		<div class="row features1-content-space">
			<div class="col-md-4 col-sm-12">
				<div class="features1-content left"> <span class="icon icon-upload"></span>
					<h4>Light Weight</h4>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium demque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore </p>
				</div>
				<div class="features1-content left"> <span class="icon icon-tools"></span>
					<h4>Creatively Design</h4>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium demque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore </p>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 middle"> <img class="img-responsive" src="images/feature-mobile.png"> </div>
			<div class="col-md-4 col-sm-12">
				<div class="features1-content right"> <span class="icon icon-speedometer"></span>
					<h4>Boost performance</h4>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium demque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore </p>
				</div>
				<div class="features1-content right"> <span class="icon icon-camera"></span>
					<h4>Flexible Layouts</h4>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium demque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore </p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- feature section 1 -->

<!-- feature section 2 -->
<section class="section features2">
	<div class="container">
		<div class="row">
			<div class="col-md-6" style="float:right;">
				<div class="features2-content">
					<h2 class="section-title">Completely flexible, create the landing page <span>you want</span></h2>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
					<ul>
						<li><i class="fa fa-check"></i> Sed ut perspiciatis unde omnis </li>
						<li><i class="fa fa-check"></i> iste natus error sit voluptatem accusantium </li>
						<li><i class="fa fa-check"></i> doloremque laudantium, totam rem aperiam.</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6"> <img class="img-responsive" src="images/feature-screen2.png"> </div>
		</div>
	</div>
</section>
<!-- feature section 2 -->

<!-- feature section 3 -->
<section class="section features3">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="features2-content">
					<h2 class="section-title">Super flexible and very easy to modify your <span>app screen</span></h2>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
				</div>
			</div>
			<div class="col-md-6"> <img class="img-responsive" src="images/feature-screen3.png"> </div>
		</div>
	</div>
</section>
<!-- feature section 3 -->

<!-- screen shots slider section-->
<section id="screens" class="section screens">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2 class="section-title">A landing page for the <span>next generation</span></h2>
				<p class="section-intro">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. </p>
			</div>
		</div>
	</div>
	<!-- owl-carousel starts -->
	<div id="owl-demo" class="owl-carousel">
		<div class="item"><img src="images/app-screen/screen1.jpg"></div>
		<div class="item"><img src="images/app-screen/screen2.jpg"></div>
		<div class="item"><img src="images/app-screen/screen3.jpg"></div>
		<div class="item"><img src="images/app-screen/screen4.jpg"></div>
		<div class="item"><img src="images/app-screen/screen5.jpg"></div>
		<div class="item"><img src="images/app-screen/screen6.jpg"></div>
		<div class="item"><img src="images/app-screen/screen7.jpg"></div>
		<div class="item"><img src="images/app-screen/screen2.jpg"></div>
		<div class="item"><img src="images/app-screen/screen5.jpg"></div>
		<div class="item"><img src="images/app-screen/screen1.jpg"></div>
		<div class="item"><img src="images/app-screen/screen6.jpg"></div>
	</div>
	<!-- owl-carousel starts -->
</section>
<!-- screen shots slider section -->

<!--subscribe section -->
<section id="download" class="section subscribe">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2>Get Your Free Download Of Rooky App <span>today!</span></h2>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. </p>
				<div  class="banner-btn"> <a href="#"><img src="images/apple-store-btn.png"></a> <a href="#" class="banner-btn"><img src="images/google-store-btn.png"></a></div>
			</div>
		</div>
	</div>
</section>
<!--subscribe section -->

<!--contact section -->

<section id="contact" class="section text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 ">
				<h2 class="section-title">Get In Touch <span>Say Hello!</span></h2>
				<p class="section-intro">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. </p>
			</div>
		</div>
		<!--contact form start-->
		<div class="col-md-6 col-md-offset-3 conForm">
			<div id="message"></div>
			<form th:action="@{/kontaktforma}" method="post" name="cform" id="cform">
				<input name="name" id="name" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Your name..." >
				<input name="email" id="email" type="email" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Email Address..." >
				<textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Project Details..."></textarea>
				<input type="submit" id="submit" name="send" class="submitBnt" value="Send">
				<div id="simple-msg"></div>
			</form>
		</div>
		<!--contact form end-->
	</div>
</section>

<!--contact section -->
<!-- footer section-->
<footer class="section footer">
	<div class="footer-bottom">
		<div class="container">
			<div class="col-md-12">
				<p>
				<ul class="footer-share">
					<li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
					<li><a href="https://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
					<li><a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
				</ul>
				</p>
				<br/>
				<p>© Copyright © 2018.</p>
			</div>
		</div>
	</div>
</footer>
<!-- footer section-->
<!-- Include JS files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/modernizr.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.subscribe.js"></script>
<script src="js/jquery.contact.js"></script>
<script src="js/main.js"></script>
</body>
</html>
